# Dependencies
node_modules
/.pnp
.pnp.js

# Environment and secret files
.env
.env.*
.env.local
.env.development
.env.development.local
.env.test
.env.test.local
.env.production
.env.production.local
*.pem
*.key
*config.json
*secrets.json
copilot-instructions.md

# Cache and build directories
/dist
/build
/.cache
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vercel

# Coverage directories
/coverage
/.nyc_output

# IDE specific files
/.idea
/.vscode
*.code-workspace
*.sublime-*
.project
.classpath
*.launch
.settings/

# Clerk authentication-specific files
**/clerk.secrets.json
